.toggle {
border: 1px solid #fffebb;
width: 100px;
cursor:pointer;
margin:3px 0 3px 35px;
padding: 2px 2px 2px 2px;
color: #ffffff;
background-color:#2683AE;
}

.hide_show {
margin-left: 35px;
width: 90%;
border: 1px solid #2583ad;
background-color:#eaf3fa;
}

.asterisk {
float:left;
font-weight:bold;
color: red;
margin: 5px 0 0 25px;

}
* html .asterisk {
margin: 5px 0 0 12px;
}